div.wrapper {
	display: grid;
	grid-gap: 0;
	grid-template-rows: 80px auto 80px;
	grid-template-areas:
		"site-banner"
		"site-content"
		"footer";
	margin: 20px 5% 0 5%;
	padding: 0;
	height: calc(99vh - 20px);
}

.site-content {
	grid-area: site-content;
	display: grid;
	grid-template-areas: 
		"page-heading"
		"content";
}

#note-controls{
    grid-area: note-controls;
    margin: 10px 0 0 0;
    padding: 10px;
}



/* generic column styling */
[class*="col-"] {
    position: relative;
    float:left;
    padding:20px;
    border: 1px solid #ccc;
  }

/* siblings to preceding column - specify gutter*/
[class*="col-"] + [class*="col-"] {
margin-left: 1.6%;
}

.col-1 {
	width: 40%;
}

.col-2 {
	width: 20%;
}

.col-3 {
	width: 50%;
}