body{
    font-family: "Times New Roman", Georgia, Serif;
    margin-left: 20px;
    color: #5a5a74;
    background-color: #faf4d3;
}

header {
    margin: 15px;
    top: 0;
}

.page-heading {
    margin: 15px; 
}

main {
    margin-left: 20px;
    margin-top: 25px;
    text-align: center;
    display: grid;
}

nav ul {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #c5c3d3;
    border-bottom: 1px solid #c5c3d3;
}

nav ul li {
    list-style-type: none; 
    flex-flow: row wrap;
    margin: 5px;
    text-align: center;
    padding: 5px;
    /*border: 1px solid; */

}


.note-output {
    justify-content: space-evenly;
    row-gap: 10px;
    text-align: center; 
    margin: 10px 0 0 0;
} 

.note-output p {
    border: 1px solid #282829;
    margin: 5px;
    padding: 10px;
}

h1 {
    color: #2a2151;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 8px;
    text-align: center;
}
h2{
    margin-top: 0px;
    margin-bottom: 10px;
}

h3 {
    margin: 20px;
    text-decoration: underline;
}

button {
    padding: 5px;
    margin: 5px;
    border: 1px solid #282829;
}

/* contextual output images */
.contextual-output img {
    margin: 10px 0 0 0;
    padding: 5px;
    border: 1px solid #b1c4b1;
}
    
.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
    justify-content: space-around;
}

/* flex item */
.flex-item {
    flex-basis: 300px; /* default size before extra */
    flex-grow: 1; /* all items will be equal */
}


